body {
    background-image:url("../img/mountains.jpg");
    background-size:cover;
    font-family: 'Cabin', sans-serif;
    color:#3a4750;
}

h1 {
    font-size:55px;
    color:#303841;
    font-family: 'Lobster', cursive;
}

#quote-author {
    padding-bottom:10px;
}

#author {
    font-style:italic;
}

#generateButton {
    margin-bottom:10px; 
    color:#3a4750;
}